.index-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    margin: 0;
}

.outer-box {
    display: flex;
    width: 55%;
    height: 33%;
}

.box-1 {
    width: 125%;
    overflow: hidden;
    background-color: hsl(0, 100%, 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.image {
    width: 400px;
    height: 325px;
}

.box-2 {
    padding: 20px;
    background-color: hsl(0, 100%, 100%);
    display: flex;
    flex-direction: column;
    padding: 30px 45px;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-2-innerbox {
    position: relative;
}

.heading {
    color: hsl(217, 19%, 35%);
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.para {
    color: hsl(214, 17%, 51%);
    font-size: 13px;
    margin-bottom: 20px;
}

.author {
    margin: 0;
    color:  hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 13px;
}

.date {
    color:  hsl(212, 23%, 69%);
    font-size: 13px;
    margin-top: 5px;
}

.avatar {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin-right: 15px;
}

.share-icon-box {
    float: right;
    margin-top: -47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: hsl(0, 100%, 100%);
}

.share-icon-inner-box {
    width: 30px;
    height: 30px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-icon {
    width: 15px;
    height: 15px;
}

.popup-text {
    visibility: hidden;
    width: 225px;
    height: 50px;
    background-color: hsl(217, 19%, 35%);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 130%;
}

.popup-inner-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
}

.popup-text::after {
    content: "";
    position: absolute;
    border-style: solid;
    top: 100%;
    left: 44%;
    border-width: 13px;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.share-icon-box .show {
    visibility: visible;
}

span {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 13px;
    color: hsl(212, 23%, 69%);
}

.fb-icon {
    margin-top: 4px;
}

.twit-icon {
    margin-top: 4px;
}

.pint-icon {
    margin-top: 4px;
}

@media (max-width: 375px) {
    .outer-box {
        flex-direction: column;
        width: 90%;
        height: 90%;
        justify-content: center;
    }
    .image {
        height: 255px;
        width: 338px;
    }
    .box-1 {
        width: 100%;
        height: 29%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .heading {
        font-size: 1rem;
        padding: 0px 35px;
    }
    .box-2 {
        padding: 30px 0px 0px 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
        border-top-right-radius: 0px;
    }
    .para {
        padding: 0px 35px;
    }
    .popup-text {
        z-index: 1;
        top: 0px;
        width: 340px;
        height: 75px;
        right: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .box-2-innerbox {
        padding: 15px 35px 0px;
    }
    .share-icon-inner-box {
        z-index: 2;
    }
    .popup-text::after {
        opacity: 0;
    }
    .popup-inner-box {
        margin: 0px 0px 0px 63px;
        width: 50%;
        justify-content: flex-start;
        justify-content: space-between;
    }
}